@media (min-width: 1023px) {
    .footer {
        /* margin-top: 9vw; */
        font-size: 1.2vw;
    }

    .complaints-section a {
        color: #e3b5d6;
        font-size: 1.4vw;
    }

    .complaints-p {
        /* border: solid; */
        font-size: 1.3vw;
    }

    .complaints-section .complaints-a {
        /* border: solid; */
        color: #e3b5d6;
        margin: 0 5vw;
    }
}
@media (max-width: 770px) {
    header {
        height: 6vmax;
    }
    .logo {
        width: 30vmax;
    }
    .main_nav {
        display: none;
    }
    .main_nav {
        /* border: solid; */
        display: block;
        height: 25vmax;
        left: 0;
        position: absolute;
        width: 100vw;
    }

    .main_nav ul {
        background-color: #fff;
        /* border: solid; */
        box-shadow: 0px 5px 7px #0000006b;
        position: absolute;
        top: 22%;
        left: 0%;
        width: 100%;
        z-index: 3;
    }

    .main_nav div {
        background-color: #fda136;
        /* border: solid; */
        display: none;
        height: 100%;
        opacity: 0.8;
        position: absolute;
        width: 100%;
        z-index: 1;
    }

    .main_nav ul li {
        /* border: solid; */
        display: block;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 5vw;
        font-weight: bolder;
        margin: 1% 0%;
    }

    .main_nav ul li a {
        border-right: none;
        color: #fda136;
        padding: 0% 1%;
        text-decoration: none;
    }

    .main_nav ul li:last-child a {
        border: none;
    }

    .dropdown {
        /* border: none; */
        border-right: none;
    }

    .dropdown .dropbtn {
        color: #fda136;
        padding-bottom: 0vh;
    }

    .dropdown-content {
        background-color: #fda136 !important;
        border: none;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        display: none;
        margin: 3px auto;
        opacity: 1 !important;
        right: 0;
        top: 7vh;
        position: absolute;
        padding: 0vw;
        width: 100vw !important;
        z-index: 1;
    }

    .dropdown-content a {
        border-bottom: solid 1px #fff !important;
        color: #fff !important;
        display: block;
        font-size: 3vw;
        letter-spacing: 1px;
        padding: 2vh 0.5vw;
        margin: 0vh 0vw;
        text-decoration: none;
        text-align: center;
    }

    .icon {
        /* border: solid; */
        display: block;
        right: 2.5vmax;
        top: 1.75vmax;
        /* padding: 0.5em; */
        position: absolute;
        z-index: 5;
    }

    .icon div {
        width: 4vmax;
        height: 0.5vmax;
        background-color: #fff;
        margin: 0 0 0.75vmax 0;
    }

    .section-one .card img:nth-child(1) {
        /* border: solid; */
        margin: 7vmax 0 0 50vmax;
    }

    .section-one .touch {
        /* border: solid; */
        font-size: 4vmax;
        left: 60vmax;
        top: 39vmax;
    }
}

@media (min-width: 590px) and (max-width: 1023px) {
    .main_nav {
        top: 0.5vmax;
    }
    .contact-text {
        width: 19vw;
    }
    .fa2 {
        color: rgb(226, 205, 220);
        font-size: 2vw !important;
        margin: 0.5vw;
    }
    .facebook,
    .instagram,
    .twitter {
        font-size: 3vw !important;
        padding: 1vw;
    }
    .complaints-section a {
        color: #e3b5d6;
        font-size: 2.2vw;
    }
    .complaints-p {
        font-size: 2vw;
    }
}

@media (max-width: 760px) and (min-width: 590px) {
    .footer {
        background-image: url("../assets/footer-background.png");
        background-size: cover;
        width: 100%;
        padding: 4vh;
        background-repeat: no-repeat;
        float: left;
        display: grid;
        /* margin-top: 5vw; */
        grid-template-rows: 2fr;
    }
    .ifram-div {
        grid-row: 2;
        width: 100%;
        margin: 2vw 5vw 0 0;
        padding: 0;
    }
    .ifram-div .ifram {
        margin: 0 0;
        width: 85vw;
        height: 55vw;
    }
    .footer-logo {
        width: 30vw;
        height: 20vh;
        margin: 1vw auto 2vw 2vw;
        display: block;
    }
    .contact-text {
        margin: 0 auto 0 2vw;
        display: block;
        width: 34vw;
        margin-top: 5vh;
        line-height: 5vh;
        color: rgb(233, 214, 227);
    }
    .contact-info {
        margin: 0 auto 0 2vw;
        display: block;
        padding: 0;
        font-size: 0.5vw;
        width: 52vw;
        color: rgb(233, 214, 227);
    }
    .fa2 {
        color: rgb(226, 205, 220);
        font-size: 2.5vw !important;
        margin: 0.5vw;
    }
    .facebook,
    .instagram,
    .twitter {
        font-size: 4vw !important;
        padding: 2.5vw;
    }
    .complaints-section {
        width: 52vw;
        margin: 0 auto 0 2vw;
        color: #e3b5d6;
        font-size: 2.3vw;
        line-height: 4vh;
    }
    .complaints-section a {
        color: #e3b5d6;
    }

    .complaints-section a:hover,
    .fa2:hover,
    .contact-info:hover {
        cursor: pointer;
        color: rgba(255, 255, 255, 0.938);
    }
    .social {
        width: 100vw;
        margin: 0 auto 0 auto;
    }
    .complaints-section a {
        color: #e3b5d6;
        font-size: 2.4vw;
    }
    .ccomplaints-p {
        font-size: 2.5vw;
    }
}

@media (max-width: 590px) {
    .main_nav {
        top: 0vmax;
    }

    .main_nav ul li {
        margin-left: 1%;
    }

    .section-one .card img:nth-child(1) {
        /* border: solid; */
        margin: 7vmax 0 0 42vmax;
        width: 35vmax;
    }

    .section-one .slide-container .slick-list .slick-track .slick-slide:nth-child(4) .card img:nth-child(2) {
        /* border: solid; */
        margin: -8.5vmax 0 0vmax 0vmax;
        padding: 2.56vmax;
        width: 37vmax;
    }

    .section-one .slide-container .slick-list .slick-track .slick-slide:nth-child(1) .card img:nth-child(3) {
        /* border: solid; */
        margin: -35vmax 0vmax 0vmax 45vmax;
        width: 32vmax;
    }
    .section-one .slide-container .slick-list .slick-track .slick-slide:nth-child(2) .card img:nth-child(3) {
        /* border: solid; */
        margin: -35vmax 0vmax 0vmax 45vmax;
        width: 30vmax;
    }
    .section-one .slide-container .slick-list .slick-track .slick-slide:nth-child(3) .card img:nth-child(3) {
        /* border: solid; */
        margin: -35vmax 0vmax 0vmax 48vmax;
        width: 26vmax;
    }
    .section-one .slide-container .slick-list .slick-track .slick-slide:nth-child(4) .card img:nth-child(3) {
        /* border: solid; */
        margin: -35vmax 0vmax 0vmax 41vmax;
        width: 35vmax;
    }

    .section-one .touch {
        background-color: #fff;
        /* border: solid; */
        border-radius: 5px;
        color: #a2238e !important;
        font-size: 4vmax;
        left: 42vmax;
        padding: 1vmax 2vmax;
        position: absolute;
        text-align: center;
        text-decoration: none;
        top: 37vmax;
        width: fit-content;
        z-index: 9;
    }

    .section-three a, .section-two a {
        border-radius: 5px;
        bottom: 2%;
        font-size: 3vmax;
        left: 37.5%;
        padding: 1vmax 1.5vmax;
        position: absolute;
        text-align: center;
        text-decoration: none;
        width: 25%;
    }

    .section-four {
        overflow-y: hidden;
        background-color: #fda136;
        color: #fff;
        direction: rtl;
        font-size: 2.5vmax;
        padding: 0 12vmax;
        position: relative;
        z-index: -1;
    }

    .section-four .left {
        /* border: solid; */
        position: unset;
        width: 50vmax;
    }

    .section-four .right {
        /* border: solid; */
        margin-top: -10vmax;
        width: 50vmax;
    }

    .section-four h3 {
        /* border: solid; */
        font-size: 5vmax;
    }

    .section-four .right h3:nth-child(7) {
        /* border: solid; */
        font-size: 4vmax;
    }

    .section-four ul li::before {
        font-size: 5vmax;
    }

    .section-four a {
        background-color: #a2238e;
        /* border: solid; */
        border-radius: 5px;
        color: #fff;
        display: block;
        font-size: 5vmax;
        margin: 1.5vmax 0;
        padding: 1vmax 1.5vmax;
        text-decoration: none;
        width: fit-content;
    }

    .footer {
        background-image: url("../assets/footer-background.png");
        background-size: cover;
        padding: 4vh;
        background-repeat: no-repeat;
        float: left;
        display: grid;
        /* margin-top: 5vw; */
        grid-template-rows: 2fr;
        font-size: 2.2vw;
    }
    .ifram-div {
        grid-row: 2;
        width: 100%;
        margin: 2vw 5vw 0 0;
        padding: 0;
    }
    .ifram-div .ifram {
        margin: 0 auto 0 auto;
        width: 85vw;
        height: 55vw;
    }
    .footer-logo {
        width: 40vw;
        height: 20vh;
        margin: 1vw auto 2vw auto;
        display: block;
    }
    .contact-text {
        margin: 0 auto 0 2vw;
        display: block;
        width: 40vw;
        margin-top: 5vh;
        line-height: 5vh;
        color: rgb(233, 214, 227);
    }
    .contact-info {
        margin: 0 auto 0 2vw;
        display: block;
        font-size: 4vw;
        width: 52vw;
        color: rgb(233, 214, 227);
    }
    .fa2 {
        color: rgb(226, 205, 220);
        font-size: 4vw;
        margin: 0.5vw;
    }
    .facebook,
    .instagram,
    .twitter {
        font-size: 6vw !important;
        padding: 2.5vw;
    }
    .complaints-section {
        width: 56vw;
        margin: 0 auto 0 2vw;
        color: #e3b5d6;
        font-size: 3vw;
        line-height: 6vh;
    }
    .complaints-section a {
        color: #e3b5d6;
        font-size: 3.5vw;
    }
    .complaints-p {
        font-size: 3.5vw;
    }

    .complaints-section a:hover,
    .fa2:hover,
    .contact-info:hover {
        cursor: pointer;
        color: rgba(255, 255, 255, 0.938);
    }
    .social {
        width: 100vw;
        margin: 0 auto 0 auto;
    }
}


@media(max-width: 375px){
    .section-one .card img:nth-child(1) {
        /* border: solid; */
        margin: 7vmax 0 0 42vmax;
        width: 26vmax;
    }

    .section-one .slide-container .slick-list .slick-track .slick-slide:nth-child(4) .card img:nth-child(2) {
        /* border: solid; */
        margin: -8.5vmax 0 0vmax 0vmax;
        padding: 2.56vmax;
        width: 37vmax;
    }

    .section-one .slide-container .slick-list .slick-track .slick-slide:nth-child(1) .card img:nth-child(3) {
        /* border: solid; */
        margin: -35vmax 0vmax 0vmax 43vmax;
        width: 25vmax;
    }
    .section-one .slide-container .slick-list .slick-track .slick-slide:nth-child(2) .card img:nth-child(3) {
        /* border: solid; */
        margin: -35vmax 0vmax 0vmax 45vmax;
        width: 22vmax;
    }
    .section-one .slide-container .slick-list .slick-track .slick-slide:nth-child(3) .card img:nth-child(3) {
        /* border: solid; */
        margin: -35vmax 0vmax 0vmax 45vmax;
        width: 22vmax;
    }
    .section-one .slide-container .slick-list .slick-track .slick-slide:nth-child(4) .card img:nth-child(3) {
        /* border: solid; */
        margin: -35vmax 0vmax 0vmax 41vmax;
        width: 28vmax;
    }

    .section-one .touch {
        background-color: #fff;
        /* border: solid; */
        border-radius: 5px;
        color: #a2238e !important;
        font-size: 3.5vmax;
        left: 44vmax;
        padding: 1vmax 2vmax;
        position: absolute;
        text-align: center;
        text-decoration: none;
        top: 32vmax;
        width: fit-content;
        z-index: 9;
    }
}