@font-face {
    font-family: "NizarCoconKurdish";
    src: url("../assets/NizarCoconKurdishBold.otf") format("truetype");
}

html,
body {
    font-family: "NizarCoconKurdish";
    letter-spacing: 0.1vw;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

a:hover , .section-one a:hover , .section-two a:hover , .section-three a:hover{
    cursor: pointer !important;
}

header {
    /* border: solid; */
    background-color: #fda136;
    height: 4.8vmax;
    position: fixed;
    transition: all 1s;
    box-shadow: 0px 1px 7px #0000006b;
    width: 100%;
    z-index: 2;
}

.logo {
    /* border: solid; */
    position: absolute;
    top: 0.5vmax;
    left: 1vmax;
    width: 23vmax;
    height: 4vmax;
    margin-left: 1vw;
}

.icon {
    display: none;
}

.main-nav {
    /* border: solid; */
    display: block;
    top: 1.25vmax;
    height: 2vmax;
    right: 0;
    position: absolute;
    width: 58vw;
}

.main-nav ul {
    /* border: solid; */
    position: absolute;
    top: 41%;
    left: -2%;
    width: 100%;
    z-index: 3;
}

.main-nav div {
    background-color: #fda136;
    /* border: solid; */
    height: 100%;
    opacity: 0.8;
    position: absolute;
    width: 100%;
    z-index: 1;
}

.main-nav ul li {
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1vw;
    font-weight: bolder;
    margin-left: 3%;
}

.main-nav ul li a {
    border-right: 0.2vw solid;
    color: #fff;
    padding: 0% 1%;
    font-size: 1.1vw;
    text-decoration: none;
}

.main-nav ul li:last-child a {
    border: none;
}


.dropdown {
    border-right: 0.2vw solid #fff;
    color: #fda136;
    position: relative;
}
.dropdown .dropbtn {
    border: 0;
    outline: none;
    background-color: inherit;
    font-weight: bold;
    color: #fff;
    font-size: 1.1vw;
    padding-bottom: 3.5vh;
}
.fa-caret-down {
    margin: 0 0 0 1vw;
}
.dropdown:hover .dropbtn {
    cursor: pointer;
}
.dropdown-content {
    background-color: #fff !important;
    border: solid #fda136 1px;
    border-top: none;
    border-radius: 3px;
    bottom: 1;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    display: none;
    height: auto !important;
    left: 0;
    line-height: 3vw;
    margin: 3px auto;
    opacity: 1 !important;
    right: 0;
    top: 3.6vh;
    position: absolute;
    padding: 1vw;
    width: 15vw !important;
    z-index: 1;
}

.dropdown-content a {
    border: none !important;
    border-left: 0.2vw solid #fda136 !important ;
    color: #fda136 !important;
    display: block;
    font-size: 1vw;
    letter-spacing: 1px;
    padding: 1vw 0.5vw;
    margin: 0.3vw 0vw;
    text-decoration: none;
    text-align: center;
}

.dropdown-content a:hover {
    background-color: #fda136 !important;
    color: #fff !important;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/*********/

.section-one {
    border-bottom: solid #fff 1px;
    position: relative;
    z-index: 0;
    margin-top: 2vw;
}

.section-one .slide-container .slick-list .slick-track .slick-slide:nth-child(1) .card {
    background-color: #a2238e !important;
}

.section-one .slide-container .slick-list .slick-track .slick-slide:nth-child(2) .card {
    background-color: #fda136 !important;
}
.section-one .slide-container .slick-list .slick-track .slick-slide:nth-child(3) .card {
    background-color: #5c2d90 !important;
}
.section-one .slide-container .slick-list .slick-track .slick-slide:nth-child(4) .card {
    background-color: #438c7f !important;
}

.section-one .card img:nth-child(1) {
    /* border: solid; */
    margin: 5vmax 0 0 50vmax;
    width: 45vmax;
}

.section-one .slide-container .slick-list .slick-track .slick-slide:nth-child(1) .card img:nth-child(2) {
    /* border: solid; */
    margin: -8.4vmax 0 0vmax 0vmax;
    padding: 2.5vmax;
    width: 45vmax;
}
.section-one .slide-container .slick-list .slick-track .slick-slide:nth-child(2) .card img:nth-child(2) {
    /* border: solid; */
    margin: -8.5vmax 0 0vmax 0vmax;
    padding: 2.55vmax;
    width: 43vmax;
}
.section-one .slide-container .slick-list .slick-track .slick-slide:nth-child(3) .card img:nth-child(2) {
    /* border: solid; */
    margin: -8.5vmax 0 0vmax 0vmax;
    padding: 2.6vmax;
    width: 40vmax;
}

.section-one .slide-container .slick-list .slick-track .slick-slide:nth-child(4) .card img:nth-child(2) {
    /* border: solid; */
    margin: -8.5vmax 0 0vmax 0vmax;
    padding: 2.56vmax;
    width: 37vmax;
}

.section-one .slide-container .slick-list .slick-track .slick-slide:nth-child(1) .card img:nth-child(3) {
    /* border: solid; */
    margin: -8vmax 0vmax 0vmax 7vmax;
    width: 34vmax;
}
.section-one .slide-container .slick-list .slick-track .slick-slide:nth-child(2) .card img:nth-child(3) {
    /* border: solid; */
    margin: -6vmax 0vmax 0vmax 13vmax;
    width: 30vmax;
}
.section-one .slide-container .slick-list .slick-track .slick-slide:nth-child(3) .card img:nth-child(3) {
    /* border: solid; */
    margin: -6vmax 0vmax 0vmax 20vmax;
    width: 26vmax;
}
.section-one .slide-container .slick-list .slick-track .slick-slide:nth-child(4) .card img:nth-child(3) {
    /* border: solid; */
    margin: -8vmax 0vmax 0vmax 11vmax;
    width: 37vmax;
}

.section-one .chat {
    /* border: solid; */
    position: fixed;
    right: 0.25vmax;
    top: 40vmax;
    width: 10vmax;
    z-index: 999999;
}

.section-one .touch {
    background-color: #fff;
    /* border: solid; */
    border-radius: 5px;
    color: #a2238e !important;
    font-size: 4vmax;
    left: 57vmax;
    padding: 1vmax 2vmax;
    position: absolute;
    text-align: center;
    text-decoration: none;
    top: 39vmax;
    width: fit-content;
    z-index: 9;
}

.section-two {
    background-color: #fda136;
    border-bottom: solid #fff 1px;
    direction: rtl;
    font-size: 1.7vmax;
    padding: 7vmax 12vmax;
    position: relative;
    z-index: -1;
}

.section-two h4 {
    color: #fff;
    margin: 2vmax 0;
}

.section-two h3 {
    color: #a2238e;
    font-size: 2vmax;
}

.section-two h3:nth-child(1) {
    color: #a2238e;
    font-size: 2vmax;
    margin-top: -3vmax;
}

.section-two a {
    background-color: #a2238e;
    border-radius: 5px;
    bottom: 5%;
    color: #fff;
    left: 45%;
    padding: 1vmax 1.5vmax;
    position: absolute;
    text-align: center;
    text-decoration: none;
    width: 10%;
}

.section-three {
    background-color: #a2238e;
    border-bottom: solid #fff 1px;
    direction: rtl;
    font-size: 1.7vmax;
    padding: 7vmax 12vmax;
    position: relative;
    z-index: -1;
}

.section-three h4 {
    color: #fff;
    margin: 2vmax 0;
}

.section-three h4:nth-child(1) {
    margin: -3vmax 0 2vmax 0;
}

.section-three h4:nth-child(2) {
    margin: 3vmax 0 5vmax 0;
}

.section-three h3 {
    color: #fda136;
    font-size: 2vmax;
}

.section-three a {
    background-color: #fda136;
    border-radius: 5px;
    bottom: 5%;
    color: #fff;
    left: 45%;
    padding: 1vmax 1.5vmax;
    position: absolute;
    text-align: center;
    text-decoration: none;
    width: 10%;
}

.section-four {
    overflow-y: hidden;
    background-color: #fda136;
    color: #fff;
    direction: rtl;
    font-size: 1.7vmax;
    padding: 0 12vmax;
    position: relative;
    z-index: -1;
}

.section-four div {
    display: inline-block;
    padding: 5vmax 0;
}

.section-four .left {
    /* border: solid; */
    position: absolute;
    left: 15vmax;
    width: 30vmax;
}

.section-four .right {
    /* border: solid; */
    width: 30vmax;
}

.section-four h3 {
    /* border: solid; */
    color: #a2238e;
    font-size: 3vmax;
    margin: 0 0 1vmax 0;
}

.section-four .right h3:nth-child(7) {
    /* border: solid; */
    font-size: 2.9vmax;
}


.section-four ul li::before {
    content: "\2022";
    color: #a2238e;
    font-size: 3vmax;
    position: relative;
    margin-left: 0.25vw;
    top: 1vh;

    /* position: relative; */
    /* top: 0.75vmax; */
}

.section-four a {
    background-color: #a2238e;
    /* border: solid; */
    border-radius: 5px;
    color: #fff;
    display: block;
    margin: 1.5vmax 0;
    padding: 1vmax 1.5vmax;
    text-decoration: none;
    width: fit-content;
}

.footer {
    clear: both;
    background-image: url('../assets/footer-background.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding: 4vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
    z-index: 999999;
}

.ifram-div {
    padding: 2% 0%;
    width: 60%;
}

.ifram-div .ifram {
    width: 100%;
    height: 96%;
}
.contact-div {
    width: 30%;
}
.footer-logo {
    width: 50%;
}
.contact-text {
    display: block;
    /* width: 18vw; */
    margin-top: 2vh;
    line-height: 1vh;
    padding: 2vw;
    color: #eacee2;
    /* text-align: center; */
    font-size: 2.6vw;
    border-bottom: .05vw solid;
    width: 18vw;
}
.contact-info {
    padding: 0.5vw;
    line-height: 35px;
    display: block;
    font-size: 1.5vw;
    width: 28vw;
    color: #e3b5d6;
}
.fa2 {
    color: #e3b5d6;
    font-size: 1.8vw;
    margin: 0.5vw;
}
.facebook,
.instagram,
.twitter {
    font-size: 2.8vw !important;
    padding: 0.5vw;
}
.complaints-section {
    width: 22vw;
    color: #e3b5d6;
    font-size: 1.8vw;
    letter-spacing: 0.5px;
    line-height: 4vh;
}
.complaints-section a {
    /* border: solid; */
    color: #e3b5d6;
    padding: 0.5vw;
    font-size: 1.7vw;
}

.complaints-p{
    direction: rtl;
    font-size: 2.2vw;
}

.complaints-section a:hover,
.fa2:hover,
.contact-info:hover {
    cursor: pointer;
    color: rgb(243, 236, 241);
}
