@font-face {
    font-family: "NizarCoconKurdish";
    src: url("../assets/NizarCoconKurdishBold.otf") format("truetype");
}

html,
body {
    font-family: "NizarCoconKurdish";
    letter-spacing: 0.05vw;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

a:hover,
.slideShow a:hover,
.section-two a:hover,
.section-three a:hover {
    cursor: pointer !important;
}

header {
    /* border: solid; */
    background-color: #fda136;
    height: 4.8vmax;
    position: fixed;
    transition: all 1s;
    box-shadow: 0px 1px 7px #0000006b;
    width: 100%;
    z-index: 10000000;
}

.logo {
    /* border: solid; */
    position: absolute;
    top: 0.5vmax;
    left: 1vmax;
    width: 23vmax;
    height: 4vmax;
    margin-left: 1vw;
}

.icon {
    display: none;
}

.main-nav {
    /* border: solid; */
    display: block;
    top: 1.25vmax;
    height: 2vmax;
    right: 0;
    position: absolute;
    width: 59vw;
}

.main-nav ul {
    /* direction: rtl; */
    /* border: solid; */
    position: absolute;
    top: 41%;
    left: -5%;
    width: 100%;
    z-index: 3;
}

.main-nav div {
    background-color: #fda136;
    /* border: solid; */
    height: 100%;
    opacity: 0.8;
    position: absolute;
    width: 100%;
    z-index: 1;
}

.main-nav ul li {
    display: inline;
    font-size: 1vw;
    font-weight: bolder;
    margin-left: 2%;
}

.main-nav ul li a {
    border-right: 0.2vw solid;
    color: #fff;
    font-size: 1.3vw;
    padding: 0% 1%;
    position: relative;
    text-decoration: none;
    outline: none;
}

.translation:hover {
    cursor: pointer;
}

.dropdown {
    border-right: 0.2vw solid #fff;
    color: #fda136;
    position: relative;
}
.dropdown .dropbtn {
    border: 0;
    outline: none;
    font-family: "NizarCoconKurdish";
    background-color: inherit;
    font-weight: bold;
    color: #fff;
    font-size: 1.3vw;
    padding-bottom: 3.5vh;
}
.fa-caret-down {
    margin: 0 0.5vw 0 1vw;
}
.dropdown:hover .dropbtn {
    cursor: pointer;
}
.dropdown-content {
    background-color: #fff !important;
    border: solid #fda136 1px;
    border-top: none;
    border-radius: 3px;
    bottom: 1;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    display: none;
    height: auto !important;
    left: 0;
    line-height: 3vw;
    margin: 3px auto;
    opacity: 1 !important;
    right: 0;
    top: 3.6vh;
    position: absolute;
    padding: 1vw;
    width: 15vw !important;
}

.dropdown-content a {
    z-index: 999 !important;
    border: none !important;
    border-left: 0.2vw solid #fda136 !important ;
    color: #fda136 !important;
    display: block;
    font-size: 1vw;
    // letter-spacing: 1px;
    letter-spacing: 0;
    padding: 1vw 0.5vw;
    margin: 0.3vw 0vw;
    text-decoration: none;
    text-align: center;
}

.dropdown-content a:hover {
    background-color: #fda136 !important;
    color: #fff !important;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.slideShow {
    position: relative;
    margin-bottom: 4.7vmax;
}

.middle {
    position: relative;
    top: 4.5vmax;
    /* left: 50%; */
    /* transform: translate(-50%, -50%); */
}
.navigation {
    /* border: solid; */
    position: absolute;
    bottom: 1vmax;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}
.bar {
    background-color: #ffffff4d;
    width: 1.5vmax;
    height: 1.5vmax;
    border: solid #fff;
    border-radius: 5vmax;
    margin: 0.5vmax;
    cursor: pointer;
    transition: 0.4s;
}
.bar:hover {
    background: #fff;
}

input[name="r"] {
    position: absolute;
    visibility: hidden;
}

.slides {
    width: 400%;
    height: 100%;
    display: flex;
}

.slide {
    position: relative;
    width: 25%;
    transition: 0.6s;
}
.slide div {
    width: 100%;
    height: 100%;
}

.slide div img:nth-child(1) {
    /* border: solid; */
    width: 40vmax;
    margin: 2vmax 0vmax 0 50vmax;
}

/* Slide #1 */
.slides .slide:nth-child(5) {
    background-color: #a2238e;
}
.slides .slide:nth-child(5) div img:nth-child(2) {
    /* border: solid; */
    width: 40vmax;
    margin: -7vmax 0vmax 1.2vmax 3vmax;
}

.slides .slide:nth-child(5) div img:nth-child(3) {
    /* border: solid; */
    width: 40vmax;
    margin: 0vmax 0vmax 0 7vmax;
}

/* Slide #2 */
.slides .slide:nth-child(6) {
    background-color: #fda136;
}
.slides .slide:nth-child(6) div img:nth-child(2) {
    /* border: solid; */
    width: 38vmax;
    margin: -6vmax 0vmax 1.2vmax 3vmax;
}
.slides .slide:nth-child(6) div img:nth-child(3) {
    /* border: solid; */
    width: 34vmax;
    margin: 0vmax 0vmax 1.2vmax 12vmax;
}

/* Slide #3 */
.slides .slide:nth-child(7) {
    background-color: #5c2d90;
}
.slides .slide:nth-child(7) div img:nth-child(2) {
    /* border: solid; */
    width: 38vmax;
    margin: -7vmax 0vmax 1.2vmax 3vmax;
}
.slides .slide:nth-child(7) div img:nth-child(3) {
    /* border: solid; */
    width: 30vmax;
    margin: 1vmax 0vmax 1.2vmax 18vmax;
}

/* Slide #4 */
.slides .slide:nth-child(8) {
    background-color: #438c7f;
}
.slides .slide:nth-child(8) div img:nth-child(2) {
    /* border: solid; */
    width: 35vmax;
    margin: -8vmax 0vmax 6.5vmax 3vmax;
}
.slides .slide:nth-child(8) div img:nth-child(3) {
    /* border: solid; */
    width: 40vmax;
    margin: -10vmax 0 0 10vmax;
}

#r1:checked ~ .s1 {
    margin-left: 0;
}
#r2:checked ~ .s1 {
    margin-left: -25%;
}
#r3:checked ~ .s1 {
    margin-left: -50%;
}
#r4:checked ~ .s1 {
    margin-left: -75%;
}

.chat , .chat-icon {
    /* border: solid; */
    position: fixed;
    bottom: 0vmax;
    right: 0vmax;
    width: 12vmax;
    z-index: 98;
}

.touch {
    /* border: solid; */
    background-color: #fff;
    border-radius: 0.5vmax;
    color: #a2238e;
    font-size: 2.5vmax;
    left: 50%;
    transform: translateX(-50%);
    top: 75%;
    position: absolute;
    text-align: center;
    text-decoration: none;
    padding: 1vmax;
    width: fit-content;
    z-index: 0;
}

/*********/

.aboutUs-section {
    margin-top: 3vw;
    background-color: #fda136;
    border-bottom: solid #fff 1px;
    direction: rtl;
    font-size: 1.7vmax;
    padding: 9vmax 12vmax;
    position: relative;
    z-index: 1;
}

.aboutUs-section h4 {
    color: #fff;
    font-size: 1.5vmax;
    margin: 1.7vmax 0;
}

.aboutUs-section h3 {
    color: #a2238e;
    font-size: 2vmax;
}

.aboutUs-section h3:nth-child(1) {
    color: #a2238e;
    margin-top: -3vmax;
}

.aboutUs-section a {
    background-color: #a2238e;
    border-radius: 5px;
    bottom: 5%;
    color: #fff;
    left: 45%;
    padding: 1vmax 1.5vmax;
    position: absolute;
    text-align: center;
    text-decoration: none;
    width: 11%;
}

.aboutUs-part-2 {
    background-color: #a2238e;
    border-bottom: solid #fff 1px;
    direction: rtl;
    font-size: 1.7vmax;
    padding: 7vmax 12vmax;
    position: relative;
    z-index: 1;
}

.aboutUs-part-2 h4 {
    color: #fff;
    font-size: 1.7vmax;
    margin: 2vmax 0;
}

.aboutUs-part-2 h4:nth-child(1) {
    margin: -3vmax 0 2vmax 0;
}

.aboutUs-part-2 h4:nth-child(2) {
    margin: 3vmax 0 5vmax 0;
}

.aboutUs-part-2 h3 {
    color: #fda136;
    font-size: 2.5vmax;
}

.aboutUs-part-2 a {
    background-color: #fda136;
    border-radius: 5px;
    bottom: 5%;
    color: #fff;
    left: 45%;
    padding: 1vmax 1.5vmax;
    position: absolute;
    text-align: center;
    text-decoration: none;
    width: 11%;
}

.programs {
    overflow-y: hidden;

    background-color: #fda136;
    color: #fff;
    direction: rtl;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    font-size: 1.7vmax;
    padding: 2vmax 12vmax;
    position: relative;
    z-index: 1;
}

.programs div {
    height: 100%;
    width: 40%;
    padding: 5vmax 0;
}

// .section-four .left {
//     /* border: solid; */
//     position: absolute;
//     left: 15vmax;
//     width: 30vmax;
// }

// .section-four .right {
//     /* border: solid; */
//     width: 30vmax;
// }

.programs h3 {
    color: #a2238e;
    font-size: 3vmax;
    margin: 0 0 1vmax 0;
}


.programs ul li::before {
    content: "\2022";
    color: #a2238e;
    font-size: 3vmax;
    position: relative;
    margin-left: 0.25vw;
    top: 1vh;
}

.programs a {
    background-color: #a2238e;
    /* border: solid; */
    border-radius: 5px;
    color: #fff;
    display: block;
    margin: 1.5vmax 0;
    padding: 1vmax 1.5vmax;
    text-decoration: none;
    width: fit-content;
}

.footer {
    clear: both;
    background-image: url("../assets/footer-background.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding: 4vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
    z-index: 99;
}

.ifram-div {
    padding: 2% 0%;
    width: 60%;
}

.ifram-div .ifram {
    width: 100%;
    height: 96%;
}
.contact-div {
    width: 30%;
}
.footer-logo {
    width: 50%;
}
.contact-text {
    display: block;
    /* width: 18vw; */
    margin-top: 2vh;
    line-height: 1vh;
    padding: 2vw;
    color: #eacee2;
    /* text-align: center; */
    font-size: 2.6vw;
    border-bottom: 0.05vw solid;
    width: 18vw;
}
.contact-info {
    padding: 0.5vw;
    line-height: 35px;
    display: block;
    font-size: 1.5vw;
    width: 28vw;
    color: #e3b5d6;
}
.fa2 {
    color: #e3b5d6;
    font-size: 1.8vw;
    margin: 0.5vw;
}
.facebook,
.instagram,
.twitter {
    font-size: 2.8vw !important;
    padding: 0.5vw;
}
.complaints-section {
    width: 22vw;
    color: #e3b5d6;
    font-size: 1.8vw;
    letter-spacing: 0.5px;
    line-height: 4vh;
}
.complaints-section a {
    /* border: solid; */
    color: #e3b5d6;
    padding: 0.5vw;
    font-size: 1.7vw;
}

.complaints-p {
    direction: rtl;
    font-size: 2.2vw;
}

.complaints-section a:hover,
.fa2:hover,
.contact-info:hover {
    cursor: pointer;
    color: rgb(243, 236, 241);
}

.aboutUs-section a:hover,
.aboutUs-part-2 a:hover,
.programs a:hover {
    cursor: pointer;
}
