@font-face {
    font-family: "NizarCoconKurdish";
    src: url("../assets/NizarCoconKurdishBold.otf") format("truetype");
}

@font-face {
    font-family: 'GESSTwoBold-Bold';
    src: url("../assets/GESSTwoBold-Bold.otf") format("truetype");
  }

html,
body {
    font-family: "NizarCoconKurdish";
    letter-spacing: 0.05vw;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

a:hover,
.slideShow a:hover,
.section-two a:hover,
.section-three a:hover {
    cursor: pointer !important;
}

header {
    // border: solid;
    background-color: #fda136;
    box-shadow: 0px 1px 7px #0000006b;
    // display: table;
    height: 4vmax;
    position: fixed;
    transition: all 1s;
    width: 100%;
    z-index: 10000000;
    @media (min-width: 770px) {
        .logo {
            /* border: solid; */
            display: table-cell;
            height: 3vmax;
            left: 1vmax;
            position: absolute;
            top: 0.5vmax;
            vertical-align: middle;
            width: 20vmax;
        }
        .icon {
            display: none;
        }

        .main-nav {
            // border: solid;
            display: block;
            top: 1.25vmax;
            height: 0.1vmax;
            right: 0;
            position: absolute;
            width: 59vw;
        }

        .main-nav ul {
            direction: rtl;
            /* border: solid; */
            position: absolute;
            top: 41%;
            left: -5%;
            width: 100%;
            z-index: 3;
        }

        .main-nav div {
            background-color: #fda136;
            /* border: solid; */
            height: 100%;
            opacity: 0.8;
            position: absolute;
            width: 100%;
            z-index: 1;
        }

        .main-nav ul li {
            display: inline;
            font-size: 1vw;
            font-weight: bolder;
            margin-left: 2%;
        }

        .main-nav ul li .main-link {
            // border-right: 0.2vw solid;
            color: #fff;
            font-size: 1.3vw;
            padding: 0% 1%;
            position: relative;
            text-decoration: none;
            outline: none;

            &::after {
                content: "";
                border-right: solid;
                position: absolute;
                left: -15%;
                height: 20px;
            }
        }
        .main-nav ul li:last-child .main-link {
            &::after {
                right: -10%;
            }
        }

        .translation:hover {
            cursor: pointer;
        }
        .dropdown {
            // border-right: 0.2vw solid #fff;
            color: #fda136;
            // cursor: pointer;
            position: relative;

            .dropbtn {
                border: 0;
                outline: none;
                font-family: "NizarCoconKurdish";
                background-color: inherit;
                font-weight: bold;
                color: #fff;
                font-size: 1.3vw;
                padding-bottom: 3.5vh;
            }

            .fa-caret-down {
                margin: 0 0.5vw 0 1vw;
            }

            .dropdown-content {
                background-color: #fff !important;
                border: solid #fda136 1px;
                border-top: none;
                border-radius: 5px;
                box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
                display: none;
                height: auto;
                left: -17vh;
                line-height: 3vw;
                opacity: 1 !important;
                right: 0;
                top: 5vh;
                position: absolute;
                padding: 1vw 2vw;

                a {
                    z-index: 999 !important;
                    border: none !important;
                    border-left: 0.2vw solid #fda136 !important ;
                    color: #fda136 !important;
                    display: block;
                    font-size: 1.5vmax;
                    letter-spacing: 0;
                    margin: 0.5vw 0vw;
                    text-decoration: none;
                    text-align: center;

                    &:hover {
                        background-color: #fda136 !important;
                        color: #fff !important;
                    }
                }
            }

            &:hover > .dropdown-content {
                display: block;
            }
        }
    }
}
.slideShow {
    // border: solid;
    position: relative;
    width: 100%;
    height: 100vh;

    .middle {
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .navigation {
        // border: solid;
        display: flex;
        justify-content: center;
        position: absolute;
        transform: translate(-50%, -50%);
    }
    .bar {
        background-color: #ffffff4d;
        width: 1vmax;
        height: 1vmax;
        border: solid #fff;
        border-radius: 5vmax;
        margin: 0.5vmax;
        cursor: pointer;
        transition: 0.4s;
    }
    .bar:hover {
        background: #fff;
    }

    input[name="r"] {
        position: absolute;
        visibility: hidden;
    }
    .slides {
        display: flex;
        height: 100%;
        width: 600%;
    }

    .slide {
        position: relative;
        height: 100vh;
        transition: 0.6s;
        width: calc(100% / 6);

        &.s1 {
            background-color: #154579;
        }
        &.s2 {
            background-color: #5e2f90;
        }
        &.s3 {
            background-color: #2e8178;
        }
        &.s4 {
            background-color: #e21f49;
        }
        &.s5 {
            background-color: #388bc5;
        }
        &.s6 {
            background-color: #a3258d;
        }
        .card {
            // border: solid;
            position: relative;
            width: 100%;
            height: 100%;

            .future {
                // border: solid #fff;
                color: #fda136;
                position: absolute;
                text-align: right;

                span {
                    // border: solid;
                    display: block;
                    line-height: 70%;
                }
            }

            img {
                // border: solid #fff;
                position: absolute;
            }

            .with-you {
                // border: solid;
                color: #fda136;
                font-family: 'GESSTwoBold-Bold';
                position: absolute;
                text-align: right;

            }

            .touch {
                // border: solid;
                background-color: #fff;
                border-radius: 0.5vmax;
                color: #fda136;
                font-family: 'GESSTwoBold-Bold';
                position: absolute;
                text-align: center;
                text-decoration: none;
                z-index: 0;
            }
        }
    }
    @media (min-width: 770px) {
        .chat {
            background-color: #ffffffb3;
            bottom: 0%;
            color: #fda136;
            font-size: 3vmax;
            padding: 0.5% 0.5% 0.5% 1%;
            position: fixed;
            right: 0%;
            transform: translateY(-50%);
            outline: none;
            z-index: 10;

            .fas {
                vertical-align: middle;
            }
        }
    }

    #r1:checked ~ .s1 {
        margin-left: 0;
    }
    #r2:checked ~ .s1 {
        margin-left: -25%;
    }
    #r3:checked ~ .s1 {
        margin-left: -50%;
    }
    #r4:checked ~ .s1 {
        margin-left: -75%;
    }
}

/*********/

.aboutUs-section {
    background-color: #fda136;
    border-top: solid #fff 1px;
    border-bottom: solid #fff 1px;
    direction: rtl;
    font-size: 1.7vmax;
    padding: 3vmax 6vmax 5vmax 6vmax;
    position: relative;
    z-index: 1;

    h4 {
        color: #fff;
        margin: 1vmax 0 3vmax 0;
    }

    h3 {
        color: #a2238e;
        font-size: 2vmax;
    }

    h3:nth-child(1) {
        color: #a2238e;
        // margin-top: -3vmax;
    }
    a {
        background-color: #a2238e;
        border-radius: 5px;
        bottom: 5%;
        color: #fff;
        left: 45%;
        padding: 1vmax 1.5vmax;
        position: absolute;
        text-align: center;
        text-decoration: none;
        width: 11%;
    }
}

.aboutUs-part-2 {
    background-color: #a2238e;
    border-bottom: solid #fff 1px;
    direction: rtl;
    font-size: 1.7vmax;
    padding: 2vmax 6vmax 5vmax 6vmax;
    position: relative;
    z-index: 1;
}

.aboutUs-part-2 h4 {
    color: #fff;
    margin: 1vmax 0 3vmax 0;
}

.aboutUs-part-2 h4:nth-child(1) {
    margin: -3vmax 0 2vmax 0;
}

.aboutUs-part-2 h4:nth-child(2) {
    margin: 3vmax 0 2vmax 0;
}

.aboutUs-part-2 h3 {
    color: #fda136;
    font-size: 2.5vmax;
}

.aboutUs-part-2 a {
    background-color: #fda136;
    border-radius: 5px;
    bottom: 4%;
    color: #fff;
    left: 45%;
    padding: 1vmax 1.5vmax;
    position: absolute;
    text-align: center;
    text-decoration: none;
    width: 11%;
}

.programs {
    overflow-y: hidden;

    background-color: #fda136;
    color: #fff;
    direction: rtl;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    font-size: 1.7vmax;
    padding: 2vmax 12vmax;
    position: relative;
    z-index: 1;
}

.programs div {
    height: 100%;
    width: 40%;
    padding: 5vmax 0;
}

// .section-four .left {
//     /* border: solid; */
//     position: absolute;
//     left: 15vmax;
//     width: 30vmax;
// }

// .section-four .right {
//     /* border: solid; */
//     width: 30vmax;
// }

.programs h3 {
    color: #a2238e;
    font-size: 3vmax;
    margin: 0 0 1vmax 0;
}

.programs ul li::before {
    content: "\2022";
    color: #a2238e;
    font-size: 3vmax;
    position: relative;
    margin-left: 0.25vw;
    top: 1vh;
}

.programs .program-button {
    background-color: #a2238e;
    /* border: solid; */
    border-radius: 5px;
    color: #fff;
    display: block;
    margin: 1.5vmax ;
    padding: 1vmax 1.5vmax;
    text-decoration: none;
    width: fit-content;
}

.programs .program-link {
    background-color: #a2238e00;
    color: #fff;
    text-decoration: none;
    // width: fit-content;
    cursor: pointer;
}
// .program-link:hover {
//     // border: solid;
// }
.footer {
    clear: both;
    background-image: url("../assets/footer-background.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding: 4vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
    z-index: 99;
}

.ifram-div {
    padding: 2% 0%;
    width: 60%;
}

.ifram-div .ifram {
    width: 100%;
    height: 96%;
}
.contact-div {
    width: 30%;
}
.footer-logo {
    width: 50%;
}
.contact-text {
    display: block;
    /* width: 18vw; */
    margin-top: 2vh;
    line-height: 1vh;
    padding: 2vw;
    color: #eacee2;
    /* text-align: center; */
    font-size: 2.6vw;
    border-bottom: 0.05vw solid;
    width: 18vw;
}
.contact-info {
    padding: 0.5vw;
    line-height: 35px;
    display: block;
    font-size: 1.5vw;
    width: 28vw;
    color: #e3b5d6;
}
.fa2 {
    color: #e3b5d6;
    font-size: 1.8vw;
    margin: 0.5vw;
}
.facebook,
.instagram,
.twitter {
    font-size: 2.8vw !important;
    padding: 0.5vw;
}
.complaints-section {
    width: 22vw;
    color: #e3b5d6;
    font-size: 1.8vw;
    letter-spacing: 0.5px;
    line-height: 4vh;
}
.complaints-section a {
    /* border: solid; */
    color: #e3b5d6;
    padding: 0.5vw;
    font-size: 1.7vw;
}

.complaints-p {
    direction: rtl;
    font-size: 2.2vw;
}

.complaints-section a:hover,
.fa2:hover,
.contact-info:hover {
    cursor: pointer;
    color: rgb(243, 236, 241);
}

.aboutUs-section a:hover,
.aboutUs-part-2 a:hover,
.programs a:hover {
    cursor: pointer;
}
