@media (min-width: 1023px) {
    .main-nav-mobile {
        visibility: hidden;
    }
    .footer {
        /* margin-top: 9vw; */
        font-size: 1.2vw;
    }

    .complaints-section a {
        color: #e3b5d6;
        font-size: 1.4vw;
    }

    .complaints-p {
        /* border: solid; */
        font-size: 1.3vw;
    }

    .complaints-section .complaints-a {
        /* border: solid; */
        color: #e3b5d6;
        margin: 0 5vw;
    }
}
@media (max-width: 770px) {
    .slideShow {
        width: 100vw;
    }
    header {
        height: 10vmax;
    }
    .middle {
        top: 8.5vmax;
    }
    .logo {
        height: 8vmax;
        top: 1vmax;
        width: 40vmax;
    }
    .main-nav {
        display: none;
    }
    .main-nav-mobile {
        /* border: solid; */
        visibility: visible;
        display: block;
        height: 25vmax;
        left: 0;
        position: absolute;
        width: 100vw;
    }

    .main-nav-mobile ul {
        background-color: #fff;
        /* border: solid; */
        box-shadow: 0px 5px 7px #0000006b;
        position: absolute;
        top: 36%;
        left: 0%;
        width: 100%;
    }

    .main-nav-mobile div {
        background-color: #fda136;
        /* border: solid; */
        display: none;
        height: 100%;
        opacity: 0.8;
        position: absolute;
        width: 100%;
    }

    .main-nav-mobile ul li {
        /* border: solid; */
        display: block;
        font-size: 3.3vw;
        font-weight: bolder;
        margin: 2% 0%;
        padding: 0 0 1vw 0;
        border-bottom: 0.2vw solid #fda136;
    }

    .main-nav-mobile ul li a,
    .sub-dropdown {
        color: #fda136;
        padding: 0% 1%;
        text-decoration: none;
        margin-left: 2vw;
    }
    .main-nav-mobile ul li .sub-dropdown-btn {
        font-size: 3.3vw;
        margin-left: 1vw;
    }

    .main-nav-mobile ul .sub-dropdown {
        margin-bottom: 0%;
    }

    .main-nav-mobile ul li:last-child a {
        border: none;
    }
    .main-nav-mobile ul .sub-dropdown-content {
        display: block;
        margin-top: 0%;
        background-color: #fda036ed;
    }
    .sub-dropdown-content {
        a {
            width: 50%;
        }
    }
    .main-nav-mobile ul li .a-sdc {
        color: #fff;
        display: block;
        margin: 2% 0% 1% 5%;
        border-bottom: 0.2vw solid #fff;
        padding: 0.6vw 0;
    }
    .main-nav-mobile ul li .a-sdc:first-child {
        margin: 0% 0% 2% 5%;
        padding: 0.6vw 0 0.8vw 0;
    }
    .main-nav-mobile ul li .a-sdc:last-child {
        border-bottom: none;
        margin: 1% 0% 0% 5%;
    }
    .main-nav-mobile ul li .a-sdc:hover {
        cursor: pointer;
        opacity: 0.8;
    }

    .dropdown .dropbtn {
        color: #fda136;
        padding-bottom: 0vh;
    }

    .dropdown-content {
        background-color: #fda136 !important;
        border: none;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        display: none;
        margin: 3px auto;
        opacity: 1 !important;
        right: 0;
        top: 7vh;
        position: absolute;
        padding: 0vw;
        width: 100vw !important;
        z-index: 999;
    }

    .dropdown-content a {
        border-bottom: solid 1px #fff !important;
        color: #fff !important;
        display: block;
        font-size: 3vw;
        letter-spacing: 1px;
        padding: 2vh 0.5vw;
        margin: 0vh 0vw;
        text-decoration: none;
        text-align: center;
    }

    .icon {
        /* border: solid; */
        display: block;
        right: 5.5vmax;
        top: 3vmax;
        /* padding: 0.5em; */
        position: absolute;
        z-index: 5;
    }

    .icon div {
        width: 5vmax;
        height: 0.45vmax;
        padding: 0.05vw;
        background-color: #fff;
        margin: 0 0 0.95vmax 0;
    }

    .touch {
        /* border: solid; */
        font-size: 4vmax;
    }

    .aboutUs-section {
        // border: solid;
        margin-top: 8.5vmax;
    }

    .contact-info {
        font-size: 2.1vw;
    }
    .aboutUs-section h4,
    .aboutUs-part-2 h4,
    .programs h4 {
        font-size: 2.2vw;
    }
    .aboutUs-section a,
    .aboutUs-part-2 a,
    .programs a {
        font-size: 1.9vw;
    }
    .aboutUs-section h3,
    .aboutUs-part-2 h3,
    .programs h3 {
        font-size: 3vw;
    }
}

@media (min-width: 590px) and (max-width: 1023px) {
    .main-nav {
        top: 0.5vmax;
    }
    .contact-text {
        width: 19vw;
    }
    .fa2 {
        color: rgb(226, 205, 220);
        font-size: 2vw !important;
        margin: 0.5vw;
    }
    .facebook,
    .instagram,
    .twitter {
        font-size: 3vw !important;
        padding: 1vw;
    }
    .complaints-section a {
        color: #e3b5d6;
        font-size: 2.2vw;
    }
    .complaints-p {
        font-size: 2vw;
    }
}
@media (min-width: 771px) and (max-width: 1023px) {
    .main-nav-mobile {
        visibility: hidden;
    }
    .contact-info {
        font-size: 1.9vw;
    }
}

@media (max-width: 760px) and (min-width: 590px) {
    .footer {
        background-image: url("../assets/footer-background.png");
        background-size: cover;
        width: 100%;
        padding: 3vh 2vh;
        background-repeat: no-repeat;
        float: left;
        display: grid;
        /* margin-top: 5vw; */
        grid-template-rows: 2fr;
    }
    .ifram-div {
        grid-row: 2;
        width: 100%;
        margin: 2vw 5vw 0 0;
        padding: 0;
    }
    .ifram-div .ifram {
        margin: 0 0;
        width: 85vw;
        height: 55vw;
    }
    .footer-logo {
        width: 30vw;
        height: 20vh;
        margin: 1vw auto 2vw 2vw;
        display: block;
    }
    .contact-text {
        margin: 0 auto 0 2vw;
        display: block;
        width: 34vw;
        margin-top: 5vh;
        line-height: 5vh;
        color: rgb(233, 214, 227);
    }
    .contact-info {
        margin: 0 auto 0 2vw;
        display: block;
        padding: 0;
        font-size: 2.5vw;
        width: 52vw;
        color: rgb(233, 214, 227);
    }
    .fa2 {
        color: rgb(226, 205, 220);
        font-size: 2.5vw !important;
        margin: 0.5vw;
    }
    .facebook,
    .instagram,
    .twitter {
        font-size: 4vw !important;
        padding: 2.1vw;
    }
    .complaints-section {
        width: 52vw;
        margin: 0 auto 0 2vw;
        color: #e3b5d6;
        font-size: 2.3vw;
        line-height: 4vh;
    }
    .complaints-section a {
        color: #e3b5d6;
    }

    .complaints-section a:hover,
    .fa2:hover,
    .contact-info:hover {
        cursor: pointer;
        color: rgba(255, 255, 255, 0.938);
    }
    .social {
        width: 100vw;
        margin: 0 auto 0 auto;
    }
    .complaints-section a {
        color: #e3b5d6;
        font-size: 2.4vw;
    }
    .complaints-p {
        direction: inherit;
        font-size: 2.5vw;
    }
}
@media (max-width: 1023px) and (min-width: 771px) {
    .complaints-p {
        font-size: 1.7vw;
        width: 25vw;
    }
}
@media (min-width: 1023px) {
    .complaints-section .complaints-a {
        margin: 0 1vw;
    }
}
@media (max-width: 590px) {
    .main-nav {
        top: 0vmax;
    }

    .main-nav ul li {
        margin-left: 1%;
    }
    .main-nav-mobile ul li .sub-dropdown-btn,
    .main-nav-mobile ul li {
        font-size: 4.8vw;
        /* font-weight: bolder; */
    }

    .aboutUs-section,
    .aboutUs-part-2 {
        font-size: 3.5vw;
    }

    .aboutUs-section h3,
    .aboutUs-section h3:first-child,
    .aboutUs-part-2 h3 {
        font-size: 3.5vmax;
    }

    .aboutUs-section h4,
    .aboutUs-part-2 h4 {
        font-size: 3vmax;
        line-height: 3.2vmax;
    }
    .aboutUs-part-2 a,
    .aboutUs-section a {
        border-radius: 5px;
        bottom: 2%;
        font-size: 2.5vmax;
        left: 37.5%;
        padding: 1vmax 1.5vmax;
        position: absolute;
        text-align: center;
        text-decoration: none;
        width: 25%;
    }

    .programs {
        overflow-y: hidden;
        background-color: #fda136;
        color: #fff;
        direction: rtl;
        font-size: 2.8vmax;
        padding: 0 12vmax;
        position: relative;
        z-index: 0;
    }

    .programs .left {
        /* border: solid; */
        position: unset;
        width: 50vmax;
    }

    .programs .right {
        /* border: solid; */
        margin-top: -10vmax;
        width: 50vmax;
    }

    .programs h3 {
        /* border: solid; */
        font-size: 5vmax;
    }

    .programs .right h3:nth-child(7) {
        /* border: solid; */
        font-size: 4vmax;
    }

    .programs ul li::before {
        font-size: 5vmax;
    }

    .programs a {
        background-color: #a2238e;
        /* border: solid; */
        border-radius: 5px;
        color: #fff;
        display: block;
        font-size: 3vmax;
        margin: 1.5vmax 0;
        padding: 1vmax 1.5vmax;
        text-decoration: none;
        width: fit-content;
    }

    .footer {
        background-image: url("../assets/footer-background.png");
        background-size: cover;
        padding: 3vh 2vh;
        background-repeat: no-repeat;
        float: left;
        display: grid;
        /* margin-top: 5vw; */
        grid-template-rows: 2fr;
        font-size: 2.2vw;
        position: relative;
        /* margin-top: 15vw; */
        z-index: 99;
    }
    .ifram-div {
        grid-row: 2;
        width: 100%;
        margin: 2vw 5vw 0 0;
        padding: 0;
    }
    .ifram-div .ifram {
        margin: 0 auto 0 auto;
        width: 85vw;
        height: 55vw;
    }
    .footer-logo {
        width: 40vw;
        height: 20vh;
        margin: 1vw auto 2vw auto;
        display: block;
    }
    .contact-text {
        margin: 0 auto 0 2vw;
        display: block;
        width: 40vw;
        font-size: 6vw;
        margin-top: 5vh;
        line-height: 5vh;
        color: rgb(233, 214, 227);
    }
    .contact-info {
        margin: 0 auto 0 2vw;
        display: block;
        font-size: 4vw;
        width: 52vw;
        color: rgb(233, 214, 227);
    }
    .fa2 {
        color: rgb(226, 205, 220);
        font-size: 4vw;
        margin: 0.5vw;
    }
    .facebook,
    .instagram,
    .twitter {
        font-size: 6vw !important;
        padding: 2.5vw;
    }
    .complaints-section {
        width: 57vw;
        margin: 0 auto 0 2vw;
        color: #e3b5d6;
        font-size: 3vw;
        line-height: 6vh;
    }
    .complaints-section a {
        color: #e3b5d6;
        font-size: 3.5vw;
    }
    .complaints-p {
        font-size: 3.5vw;
    }

    .complaints-section a:hover,
    .fa2:hover,
    .contact-info:hover {
        cursor: pointer;
        color: rgba(255, 255, 255, 0.938);
    }
    .social {
        width: 100vw;
        margin: 0 auto 0 auto;
    }
}

@media (max-width: 500px) {
    .logo {
        // border: solid;
        // width: 50vmax;
    }
    .slide div img:nth-child(1) {
        /* border: solid; */
        width: 70%;
        margin: 5vh 0vmax 0vmax 15%;
    }

    /* Slide #1 */
    .slides .slide:nth-child(5) {
        background-color: #a2238e;
    }
    .slides .slide:nth-child(5) div img:nth-child(2) {
        /* border: solid; */
        width: 60%;
        margin: 0vmax 0vmax 1.2vmax 20%;
    }

    .slides .slide:nth-child(5) div img:nth-child(3) {
        /* border: solid; */
        width: 50%;
        margin: 0vmax 0vmax 0 25%;
    }

    /* Slide #2 */
    .slides .slide:nth-child(6) {
        background-color: #fda136;
    }
    .slides .slide:nth-child(6) div img:nth-child(2) {
        /* border: solid; */
        width: 60%;
        margin: 0vmax 0vmax 1.2vmax 20%;
    }
    .slides .slide:nth-child(6) div img:nth-child(3) {
        /* border: solid; */
        width: 40%;
        margin: 0vmax 0vmax 1.2vmax 30%;
    }

    /* Slide #3 */
    .slides .slide:nth-child(7) {
        background-color: #5c2d90;
    }
    .slides .slide:nth-child(7) div img:nth-child(2) {
        /* border: solid; */
        width: 50%;
        margin: 0vmax 0vmax 1.2vmax 25%;
    }
    .slides .slide:nth-child(7) div img:nth-child(3) {
        /* border: solid; */
        width: 40%;
        margin: 0vmax 0vmax 1.2vmax 30%;
    }

    /* Slide #4 */
    .slides .slide:nth-child(8) {
        background-color: #438c7f;
    }
    .slides .slide:nth-child(8) div img:nth-child(2) {
        /* border: solid; */
        width: 50%;
        margin: 0vmax 0vmax 1.2vmax 25%;
    }
    .slides .slide:nth-child(8) div img:nth-child(3) {
        /* border: solid; */
        width: 60%;
        margin: 0 0 25% 20%;
    }

    .touch {
        font-size: 5vmax;
        top: 83%;
    }
    .navigation {
        // border: solid;
        bottom: -4vh;
        margin-bottom: 8%;
    }
}
